<!DOCTYPE html>
<html lang="en">
<th:block th:replace="client/header :: header"></th:block>
<body>
<div id="wrapper" class="container">
    <div th:replace="client/navbar :: navbar"></div>
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="rounded p-4 p-sm-5 my-4 mx-3" style="box-shadow: 0 0 10px 0 hsla(0, 0%, 9%, .12);">
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <h3>Quên mật khẩu</h3>
                </div>
                <div id="errorMessage" class="alert alert-danger d-none" role="alert">
                </div>
                <form id="forgotForm">
                    <div class="form-floating mb-3">
                        <input name="email" type="email" class="form-control" id="email"
                               placeholder="Email">
                        <label for="email">Email</label>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Gửi</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("forgotForm").addEventListener("submit", function (event) {
        event.preventDefault();
        var email = document.getElementById("email").value;
        if (email) {
            fetch(`http://localhost:8080/api/auth/forgot-password?email=${encodeURIComponent(email)}`, {
                method: 'POST',
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        alert("Email không tồn tại hoặc có lỗi xảy ra.");
                    }
                })
                .then(data => {
                    // Nếu thành công, chuyển hướng người dùng đến trang thông báo
                    if (data.message) {
                        alert("Email reset mật khẩu đã được gửi. Vui lòng kiểm tra hộp thư của bạn.");
                        window.location.href = "/account-login"; // Chuyển hướng đến trang thông báo thành công
                    }
                })
                .catch(error => {
                    // Xử lý lỗi và thông báo cho người dùng
                    console.error(error);
                    alert("Đã xảy ra lỗi, vui lòng thử lại!");
                });
        } else {
            document.getElementById("errorMessage").classList.remove("d-none");
            document.getElementById("errorMessage").innerText = "Vui lòng nhập email!";
        }
    });
</script>
</body>
<div th:replace="client/footer::footer"></div>
</html>