<!DOCTYPE html>
<html lang="en">
<th:block th:replace="client/header :: header"></th:block>
<body>
<div id="wrapper" class="container">
    <div th:replace="client/navbar :: navbar"></div>
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="rounded p-4 p-sm-5 my-4 mx-3" style="box-shadow: 0 0 10px 0 hsla(0, 0%, 9%, .12);">
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <h3>Reset mật khẩu</h3>
                </div>
                <div id="errorMessage" class="alert alert-danger d-none" role="alert">
                </div>
                <form id="resetForm">
                    <div class="form-floating mb-3">
                        <input name="password" type="password" class="form-control" id="password"
                               placeholder="password">
                        <label for="password">Mật khẩu mới</label>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Gửi</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token'); // Lấy token từ URL

    document.getElementById("resetForm").addEventListener("submit", function (event) {
        event.preventDefault();
        const password = document.getElementById('password').value;

        // Kiểm tra xem password và token đã có chưa
        if (!password || !token) {
            document.getElementById('errorMessage').classList.remove('d-none');
            document.getElementById('errorMessage').innerText = 'Vui lòng cung cấp mật khẩu và token.';
            return;
        }

        fetch(`http://localhost:8080/api/auth/reset-password?token=${token}&newPassword=${password}`, {
            method: 'POST',
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Something went wrong');
                }
                return response.json();
            })
            .then(data => {
                // Nếu thành công, chuyển hướng hoặc hiển thị thông báo
                alert('Mật khẩu đã được thay đổi thành công!');
                window.location.href = '/account-login';  // Chuyển hướng đến trang đăng nhập
            })
            .catch(error => {
                document.getElementById('errorMessage').classList.remove('d-none');
                document.getElementById('errorMessage').innerText = 'Có lỗi xảy ra. Vui lòng thử lại.';
            });
    });

</script>
</body>
<div th:replace="client/footer::footer"></div>
</html>