<!DOCTYPE html>
<html lang="en">

<th:block th:replace="client/header :: header"></th:block>

<body>
<div id="wrapper" class="container">
    <div th:replace="client/navbar :: navbar"></div>

    <script th:inline="javascript">
       const tourTimes = /*[[${tourResponse.tourTimesResponse}]]*/ {};

    </script>

    <main id="main">
        <div class="tour-detail tour-detail_12">
            <div class="row h-100 position-relative">
                <div class="col col-lg-9 col-12">
                    <h1 class="title" th:text="${tourResponse.tourName}"></h1>
                    <div id="gallery" class="row flex-row-reverse">
                        <div class="col col-12 col-md-10">
                            <img id="mainImage" class="img-avatar" th:src="${tourResponse.getTourImages()[0].getImageUrl()}" alt="">
                        </div>
                        <div class="col col-12 col-md-2 d-flex flex-md-wrap flex-nowrap img-tours scrollbar h-100">
                            <img th:each="item : ${tourResponse.getTourImages()}" th:src="@{${item.getImageUrl()}}"
                                 class="img-tour mt-2 object-fit-contain mb-1" alt="">
                        </div>

                    </div>

                    <div id="tour-schedule" class="tour-schedule">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper d-flex align-items-center justify-content-center">
                                <div th:if="${tourResponse.tourTimesResponse.size() == 0}">
                                    Chưa Có Lịch Khởi Hành
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>

                    </div>

                    <div id="tour-info-content"
                         class="w-100 d-flex justify-content-center flex-column align-items-center p-0 p-sm-2 bg-light rounded-3">


                    </div>

                    <div class="tour-overview">


                    </div>

                    <h2>Chi tiết tour</h2>
                    <div th:text="${tourResponse.tourDetail}" class="tour-description">


                    </div>

                    <div class="tour-note"></div>

                </div>
                <div class="col col-12 col-lg-3 position-sticky bottom-0 z-1">
                    <div class="position-sticky top-0 mt-3 shadow rounded-1">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button " type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="true"
                                            aria-controls="collapseTwo">
                                        Tóm Tắt Thông Tin Tour
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse show p-2"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body" id="tour-time-detail">
                                        <!--                                        <div class="code-tour">Mã chương trình: <span th:text="${tour.tourCode}">NNSGN6127</span>-->
                                        <!--                                        </div>-->
                                        <a href="#tour-schedule" class="btn-primary btn w-100">Chọn ngày khởi hành</a>
                                        <div class="d-flex justify-content-between my-1">
                                            <a href="#" class="btn-primary btn ">Yêu cầu tư vấn</a>
                                            <a href="tel:0985543681" class="btn  btn-outline-secondary ">Gọi ngay</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <script src="/client/js/scriptTourDetail.js"></script>
    <div th:replace="client/footer::footer"></div>

</div>

</body>

</html>

