body {
        background-color: #fef5e7;
		        font-family: 'Roboto', sans-serif; /* Font hiện đại */
    
}
h1 {
    margin-bottom: 20px;
    color: #343a40;
    font-family: 'Roboto', sans-serif;
}
.container {
    margin-top: 25px;
    max-width: 100%;
}
.filter-section {
    margin-bottom: 20px;
}
.filter-section input {
	border: solid 1px;
    width: 50%;
}
.filter-section select {
	border: solid 1px;
    width: 200px;
}
.input-group {
    width: 400px;
}
.main-filter-section{
	padding: 5px;
    background-color: #ffffff; /* Nền trắng */
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding-bottom: 2px;
}
.table-responsive {
    max-height: 400px; 
    overflow-y: auto; 
    border: 1px solid #dee2e6; 
}
.table {
    margin-bottom: 0; 
    width: 100%; /* Chiếm toàn bộ chiều rộng */
    table-layout: fixed; /* Cố định layout */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}
thead th {
    background-color: #007bff; 
    color: #ffffff; 
    font-weight: bold;
    position: sticky; 
    top: 0; 
    z-index: 10; 
    text-align: center; /* Căn giữa tiêu đề */
}
tbody td {
    background-color: #ffffff;
    color: #343a40;
    text-align: center; /* Căn giữa nội dung */
    overflow: hidden; /* Ẩn nội dung vượt quá */
    text-overflow: ellipsis; /* Hiển thị dấu ... nếu nội dung quá dài */
    white-space: nowrap; /* Ngăn ngừa xuống dòng */
}
/* .alert-container {
    display: none; 
    position: fixed; 
    top: 20px; 
    right: 20px; 
    z-index: 1051; 
}
.alert.alert-danger {
    z-index: 1070; 
} */
.alert {
    position: fixed;
    top: 20px; /* Khoảng cách từ trên cùng */
    left: 50%; /* Căn giữa theo chiều ngang */
    transform: translateX(-50%);
    z-index: 9999; /* Đảm bảo alert hiển thị trên các phần tử khác */
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.alert-success {
    background-color: #d4edda;
    color: #155724;
}
.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}
.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
}

/* Đặt z-index cho backdrop */
.modal-backdrop {
    z-index: 1040; /* Đảm bảo z-index của backdrop thấp hơn modal */
}

/* Đặt z-index cho các modal */
#editModal {
    z-index: 1050; /* Giá trị thấp hơn các modal xác nhận */
}

#confirmSaveModal,
#confirmDeleteModal {
    z-index: 1060; /* Giá trị lớn hơn để hiển thị trên editModal */
}
