<!DOCTYPE html>
<html>
<head>
    <style>
        .email-container {
            font-family: Arial, sans-serif;
            padding: 20px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            max-width: 600px;
            margin: auto;
        }

        .button {
            display: inline-block;
            background-color: #007BFF;
            color: #ffffff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="email-container">
    <h2>Đặt lại mật khẩu</h2>
    <p>Chào bạn,</p>
    <p>Bạn đã gửi yêu cầu cập nhật mật khẩu. Hãy click nút dưới để thay đổi mật khẩu</p>
    <a  th:href="${resetLink}" class="button" style="display: inline-block; background-color: #007BFF; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px;">
        Reset Password
    </a>
    <p>Nếu bạn không thực hiện yêu cầu này, hãy bỏ qua email này.</p>
    <p>Thanks,<br>Booking website</p>
</div>
</body>
</html>